<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ciptakerjaarunika.kerjaloka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:installLocation="preferExternal"
        android:hardwareAccelerated="true"
        android:icon="@drawable/kerjaloka_logo_small"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kerjaloka"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.Screens.CompanySearch.CompanySearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.Screens.SearchScreen.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Kerjaloka.NoActionBar" />
<!--        <activity-->
<!--            android:name=".ui.LoginPage.Login"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".ui.WelcomingPage.OnBoarding.OnBoarding"
            android:exported="true"
            android:theme="@style/Theme.Kerjaloka.NoActionBar" />
        <activity
            android:name=".ui.WelcomingPage.SplashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>